<% if current_user %>
	<% @questions.each do |question| %>
    <a class="feed-item">
      <img class="image" />
		  <div class="caption">
        <h3><%= question.title %></h3>
        <div class="accesory"></div>
      </div>
    </a>
	<% end %>
<% else %>
	<h1>
		Welcome to 3Bullets
	</h1>
<% end %>
