.feed-item {
  border-bottom:1px solid #e3e3e3;
  display: block;
  overflow: hidden;
  padding:15px 10px;
}

.feed-item .image {
  float: left;
  height: 70px;
  width: 70px;
}

.feed-item .caption {
  float: left;
  padding: 10px;
}

.feed-item .caption h3 {
  color: #3a3a3a;
}

.accessory {
  color: #999;
}

.accessory strong {
  color: #d60f16;
}

.feed-item .icon {
  float:right;
}
