// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question-image{
	padding: 40px 0 40px 0;
}

#circleG{
display: none;
margin: 0 auto;
width:149.33333333333334px;
margin-top: 40px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:32px;
margin-left:17px;
width:32px;
-webkit-animation-name:bounce_circleG;
-webkit-border-radius:21px;
-webkit-animation-duration:1.9500000000000002s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circleG;
-moz-border-radius:21px;
-moz-animation-duration:1.9500000000000002s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:bounce_circleG;
border-radius:21px;
-o-animation-duration:1.9500000000000002s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.9500000000000002s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#circleG_1{
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
}

#circleG_2{
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
}

#circleG_3{
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#FF0000}

100%{
}

}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#FF0000}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#FF0000}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#FF0000}

100%{
}

}