<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">QuestionBounty</a>
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <li class="active"><%= link_to "New Question",  new_question_path  %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>